@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Space+Grotesk&display=swap");
.teamPanel {
  height: 100vh;
  width: 100vw;
  background-image: url(src/assets/wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.teamPanel > .titre {
  color: black;
  font-family: "Space Grotesk", sans-serif;
}

.teamPanel > .map {
  font-family: "Space Grotesk", sans-serif;
}
